.contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.dados li {
    margin-bottom: 0.8rem;
}

.dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #dedede;
    margin-right: 10px;
}