.shop {
    display: flex;
    flex-wrap: wrap;
}

.shop div {
    margin-bottom: 2rem;
    margin-right: 2rem;
    width: 250px;
}

.shop img {
    box-sizing: border-box;
    border-radius: 1rem;
    width: 100%;
}